/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%; /* 1 rem = 10 px */
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; /* White border around */
}

.header {
  position: relative;
  height: 95vh;
  background-size: cover; /* Adjusts itself to the viewport */
  background-position: top; /* Top never changes even when re-sizing */
  background-image: linear-gradient(
      to right bottom,
      hsla(111, 55%, 64%, 0.85),
      hsla(160, 64%, 43%, 0.8)
    ),
    url('../img/hero.jpg');
  clip-path: polygon(
    0 0,
    100% 0,
    100% 75vh,
    0 100%
  ); /* Starts from top right */
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin: 6rem;

  backface-visibility: hidden;
}

/* Display Block uses row gridding */
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: ease-out 3s moveInLeft;

  /* animation-timing-function: ease-in; Starts slower and fastens up  
  animation-timing-function: ease-out; Starts faster and slows down*/
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;

  animation: ease-out 3s moveInRight;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  border-radius: 10rem;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  transition: all 0.4s;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--white {
  color: #777;
  background-color: #fff;
}
.btn--white::after {
  background-color: #fff;
}

.btn--animated {
  animation: moveInBottom 3s ease-out 0.75s;
  animation-fill-mode: backwards;
}
