.footer {
  color: $clr-grey-light;
  padding: 10rem 0;
  font-size: 1.4rem;
  background-color: $clr-grey-dark-3;

  @include respond(tab-port) {
    padding: 8rem 0;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;

    @include respond(tab-port) {
      margin-bottom: 6rem;
    }
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    display: inline-block;
    padding-top: 2rem;
    border-top: 1px solid $clr-grey-dark;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      color: $clr-grey-light;
      text-decoration: none;
      text-transform: uppercase;
      background-color: $clr-grey-dark-3;

      transition: all 0.4s;
    }

    &:hover,
    &:active {
      color: $clr-green-light;
      box-shadow: 0 1rem 2rem rgba($clr-black, 0.4);
      transform: rotate(5deg) scale(1.3);
    }
  }

  &__copyright {
    float: right;
    width: 85%;
    padding-top: 2rem;
    border-top: 1px solid $clr-grey-dark;

    @include respond(tab-port) {
      width: 100%;
      float: none;
    }
  }
}
