.header {
  position: relative;
  height: 85vh;
  background-size: cover; /* Adjusts itself to the viewport */
  background-position: top; /* Top never changes even when re-sizing */
  background-image: linear-gradient(
      to right bottom,
      rgba($clr-green-light, 0.85),
      rgba($clr-green-dark, 0.8)
    ),
    url('../img/hero-small.jpg');
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 75vh,
    0 100%
  ); /* Starts from top right */

  @supports (clip-path: polygon(0, 0)) or (-webkit-clip-path: polygon(0, 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($clr-grey-light, 0.85),
        rgba($clr-grey-dark, 0.8)
      ),
      url('../img/hero.jpg');
  }

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo {
    height: 3.5rem;

    &-box {
      position: absolute;
      top: 4rem;
      left: 4rem;
    }
  }
  &__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}

::selection {
  color: $clr-white;
  background-color: $clr-green-light;
}
