// COLORS

$clr-white: #fff;

$clr-black: #000;

$clr-green-light: #7ed56f;
$clr-green-medium: #55c57a;
$clr-green-dark: #28b485;

$clr-grey-light: #f7f7f7;
$clr-grey-light-2: #eee;
$clr-grey-dark: #777;
$clr-grey-dark-2: #999;
$clr-grey-dark-3: #333;

$clr-orange-light: #ffb900;
$clr-orange-dark: #ff7730;

$clr-blue-light: #2998ff;
$clr-blue-dark: #5643fa;

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// FONT

$default-font-size: 1.6rem;

// BOXES

$rounded-borders: 3px;
