.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 1.5rem 4rem;
    font-size: $default-font-size;
    border-radius: 10rem;
    transition: all 0.2s;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 1rem rgba($clr-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($clr-black, 0.2);
  }

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    transition: all 0.4s;
  }

  &--white {
    color: $clr-grey-dark;
    background-color: $clr-white;

    &::after {
      background-color: $clr-white;
    }
  }

  &--green {
    color: $clr-white;
    background-color: $clr-green-medium;

    &::after {
      background-color: $clr-green-medium;
    }
  }

  &--animated {
    animation: moveInBottom 3s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    padding: 3px;
    font-size: $default-font-size;
    color: $clr-green-light;
    text-decoration: none;
    border-bottom: 1px solid $clr-green-light;
    transition: all 0.2s;
  }

  &:hover {
    color: $clr-white;
    background-color: $clr-green-light;
    box-shadow: 0 0.3rem 1rem rgba($clr-black, 0.15);
    transform: translateY(-0.3rem);
  }

  &:active {
    transform: translateY(0);
  }
}
