.card {
  position: relative;
  height: 52rem;
  perspective: 150rem;
  -moz-perspective: 150rem;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 52rem;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($clr-black, 0.15);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.8s ease;

    &--front {
      background-color: $clr-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to bottom right,
          $clr-orange-light,
          $clr-orange-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to bottom right,
          $clr-green-light,
          $clr-green-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to bottom right,
          $clr-blue-light,
          $clr-blue-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // FRONT-SIDE STYLING

  &__picture {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to bottom right,
          $clr-orange-light,
          $clr-orange-dark
        ),
        url('../img/nat-5.jpg');
    }

    &--2 {
      background-image: linear-gradient(
          to bottom right,
          $clr-green-light,
          $clr-green-dark
        ),
        url('../img/nat-6.jpg');
    }

    &--3 {
      background-image: linear-gradient(
          to bottom right,
          $clr-blue-light,
          $clr-blue-dark
        ),
        url('../img/nat-7.jpg');
    }
  }

  &__heading {
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
    color: $clr-white;
    text-align: right;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to bottom right,
        rgba($clr-orange-light, 0.85),
        rgba($clr-orange-dark, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to bottom right,
        rgba($clr-green-light, 0.85),
        rgba($clr-green-dark, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to bottom right,
        rgba($clr-blue-light, 0.85),
        rgba($clr-blue-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      margin: 0 auto;
      width: 80%;

      li {
        text-align: center;
        padding: 1rem;
        font-size: 1.5rem;

        &:not(:last-child) {
          border-bottom: 1px solid $clr-grey-light-2;
        }
      }
    }
  }

  // BACK-SIDE STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  &__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: $clr-white;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  // @include respond(tab-port) {
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    height: auto;
    background-color: $clr-white;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($clr-black, 0.15);

    &__side {
      position: relative;
      height: auto;
      box-shadow: none;

      &--back {
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        transform: rotateY(0);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
    }

    // BACK-SIDE STYLING
    &__cta {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
      transform: translate(0);
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 5rem;
    }
  }
}
