.feature-box {
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  background-color: rgba($clr-white, 0.8);
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($clr-black, 0.15);
  transition: transform 0.5s;

  @include respond(tab-port) {
    padding: 2rem;
  }

  &__icon {
    display: inline-block;
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(
      to right,
      $clr-green-light,
      $clr-green-dark
    );
    -webkit-background-clip: text;
    color: transparent;

    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
