.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    display: block;
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    width: 90%;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($clr-white, 0.5);
    border-bottom: 0.3rem solid transparent;
    border: none;

    transition: all 0.3s;

    @include respond(tab-port) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($clr-black, 0.1);
      border-bottom: 0.3rem solid $clr-green-light;
    }

    &:focus:invalid {
      border-bottom: 0.3rem solid $clr-orange-dark;
    }

    &::-webkit-input-placeholder {
      color: $clr-grey-dark-2;
    }
  }

  &__label {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2.1rem;
    margin-top: 0.7rem;

    transition: all 0.4s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    position: relative;
    font-size: $default-font-size;
    padding-left: 4.5rem;
    cursor: pointer;
  }

  &__radio-button {
    display: inline-block;
    position: absolute;
    top: -0.5rem;
    left: 0;
    height: 3rem;
    width: 3rem;
    border: 5px solid $clr-green-light;
    border-radius: 50%;

    &::after {
      content: '';
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      background-color: $clr-green-light;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;

      transition: opacity 0.2s;
    }
  }

  &__radio-input:checked + &__radio-label > &__radio-button::after {
    opacity: 1;
  }
}
