.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba($clr-black, 0.8);

  opacity: 0;
  visibility: hidden;
  z-index: 300;

  transition: all 0.5s;

  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($clr-black, 0.3);
  }

  &__content {
    display: table;
    @include position-absolute-centered;
    width: 75%;
    background-color: $clr-white;
    box-shadow: 0 2rem 4rem rgba($clr-black, 0.2);
    border-radius: 3px;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.4s;
  }

  &__left {
    display: table-cell;
    width: 33.333333%;
  }

  &__right {
    display: table-cell;
    width: 66.666667%;
    padding: 3rem 5rem;
    vertical-align: middle;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $clr-grey-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  // OPENED STATE
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      display: inline-block;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      line-height: 1;
      text-decoration: none;
      color: $clr-grey-dark;

      transition: all 0.3s;
    }

    &:hover {
      color: $clr-green-light;
    }
  }
}
