.story {
  width: 75%;
  margin: 0 auto;
  padding: 6rem;
  padding-left: 9rem;
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba($clr-black, 0.1);
  background-color: rgba($clr-white, 0.6);
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  & > * {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__shape {
    position: relative;
    float: left;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;

    transform: translateX(-3rem) translateY(2rem) skewX(12deg);

    @supports (clip-path: polygon(0, 0)) or (-webkit-clip-path: polygon(0, 0)) {
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      border-radius: none;
    }

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    width: 100%;
    transform: scale(1.4);
  }

  &__caption {
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 1.7rem;
    text-align: center;
    color: $clr-white;
    text-transform: uppercase;
    transform: translate(-50%, 0);

    opacity: 0;
    backface-visibility: hidden;
    transition: all 0.8s;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: scale(1);
    transition: all 1s;
    filter: blur(3px) brightness(80%);
  }
}
