* {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
  &::after {
    @extend *;
  }

  &::before {
    @extend *;
  }
}

html {
  font-size: 62.5%; /* 1 rem = 10 px; 10px/16px = 62.5% */

  @include respond(tab-land) {
    font-size: 56.25%; /* 1 rem = 9 px; 9px/16px = 56.25%*/
  }
  @include respond(tab-port) {
    font-size: 50%; /* 1 rem = 8 px; 8px/16px = 50%*/
  }
  @include respond(desktop) {
    font-size: 75%; /* 1 rem = 12 px; 12px/16px = 75% */
  }
}

body {
  box-sizing: border-box;
  padding: 3rem; /* White border around */

  @include respond(tab-port) {
    padding: 0;
  }
}
