body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $clr-grey-dark;
}

.heading-primary {
  color: $clr-white;
  text-transform: uppercase;
  margin: 6rem;

  backface-visibility: hidden;

  &--main {
    display: block;
    @include font-styling(6rem, 400, 3.5rem);
    animation: ease-out 3s moveInLeft;

    @include respond(phone) {
      @include font-styling(5rem, 400, 1rem);
    }
  }

  &--sub {
    display: block;
    @include font-styling(2rem, 750, 1.75rem);
    animation: ease-out 3s moveInRight;

    @include respond(phone) {
      @include font-styling(2rem, 750, 0.5rem);
    }
  }
}

.heading-secondary {
  display: inline-block;
  color: transparent;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    $clr-green-light,
    $clr-green-dark
  );
  -webkit-background-clip: text;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
