.section-about {
  padding: 25rem 0;
  margin-top: -20vh;
  background-color: $clr-grey-light;

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-features {
  margin-top: -12rem;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($clr-green-light, 0.85),
      rgba($clr-green-dark, 0.8)
    ),
    url('../img/nat-4.jpg');
  background-size: cover;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-tours {
  margin-top: -12rem;
  padding: 25rem 0 7rem 0;
  background-color: $clr-grey-light;

  @include respond(tab-port) {
    padding: 20rem 0 5rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $clr-green-light,
    $clr-green-dark
  );

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.book {
  border-radius: $rounded-borders;
  box-shadow: 0 1.5rem 4rem rgba($clr-black, 0.2);
  background-image: linear-gradient(
      105deg,
      rgba($clr-white, 0.8) 0%,
      rgba($clr-white, 0.8) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($clr-white, 0.8) 0%,
        rgba($clr-white, 0.8) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($clr-white, 0.8) 0%,
        rgba($clr-white, 0.8) 100%
      ),
      url(../img/nat-10.jpg);
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }
}
